#footer{
  background: #000;
  .footer{
    h1{
      text-align: center;
      color: #9a0909;
      padding: 10px 0;
      font-weight: 600;
      //font-family: "Playfair Display" , sans-serif;
    }
  }
}
